*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* để đưa định dạng cả bài về mặc định */

h1{
    color: red;
    text-align: center;
    font-size: 60px;
}
h2{
    color: red;
    text-align:left;
}
h5{
    color: white;
    background-color: black;
}
#p-ignore{
    color: red;
}
.yellow{
    color:yellow;
    background-color: black;
}
.green{
    color: rgba(4, 221, 4, 0.7);
}
.div1{
    color:brown;
    border: 1px solid black;
}

#backgr_ex{
    width: 200px;
    height: 200px;
    background-color: rgba(4, 221, 4, 0.8);
}

#image{
    color: red;
    font-size: 100px;
    background-image: url('messi.jpg');
    height:672px;
}

.rectangle{
    width:500px;
    height: 100px;
    /* border-width: 1px; độ dày của viền
    border-style:solid;
    border-color: brown; */

    /*cách viết ngắn gọn hơn */
    border: 10px solid brown;
    /*bo tròn các góc */
    border-radius: 50px;
}

.borderRed{
    border: 1px solid rgb(237, 8, 8);
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.decoration{
    text-decoration: line-through;
/* 1 số text-decoration: underline, overline, line-through: gạch giữa, none: ko có gì hết
    */

}

.transformBig{
    text-transform: uppercase;
}
.transformSmall{
    text-transform: lowercase;
}
.transformCapitalize{
    text-transform: capitalize;
}
.indent{
    text-indent: 20px;
}
.letter-spacing{
    letter-spacing: 10px;
}
.word-spacing{
    word-spacing: 10px;
}
.line-height{
    line-height: 30px;
}
.white-space{
    white-space:nowrap;
    /* Có 1 số loại như: 
- normal: Là giá trị mặc định. 
Khoảng trắng liền nhau sẽ được thay thế bằng một khoảng trắng đơn 
và các dòng mới sẽ được coi là một khoảng trắng.

- nowrap: Ngăn chặn việc tự động xổ ra dòng 
khi nội dung không thể vừa trong một dòng. 
Dòng mới sẽ bị bỏ qua.

- pre: Giữ nguyên tất cả khoảng trắng và dòng mới. 
Khoảng trắng sẽ không bị thay thế bằng khoảng trắng đơn

- pre-line: Giữ nguyên khoảng trắng nhưng tự động xổ ra dòng khi cần thiết.

- pre-wrap: Giữ nguyên khoảng trắng và tự động xổ ra dòng khi cần thiết.
    */
}

.Font-Arial{
    font-family: Arial, Helvetica, sans-serif;
}
.display{
    display: flex;
}
.maxWidthHeight{
    max-width: 500px;
    /*giả sử màn hình <500px thì sẽ tự động scale lại
    còn >500px thì sẽ lấy max là 500px
    */
    max-height:500px;
    background-color: blue;
    color: white;
}